-var titulos = ["Titulo principal","Subtitulo 1","Subtitulo 2","Subtitulo 3"]
-var usuario = "Juan David"

mixin caja1(imagen, titulo, texto)
    main.contenido
        .caja
            .caja__imagen: img(src="./images/"+imagen alt="Descripci칩n de la imagen")
            .caja__contenido
                h3 #{titulo}
                p #{texto}
                a.boton Leer m치s

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="./css/ejercicio-pug.css")
    body
        header
            h1 Platzi Games 
            if usuario
                a Hola #{usuario}
            else
                a.boton Registro
        section.intro
            div.intro__imagen: img(src="./images/imagen.png" alt="Descripci칩n de la imagen")
            div.intro__contenido
                h2 #{titulos[0]}
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis error, facilis id nesciunt aliquam aperiam corporis istede lectus voluptatem voluptates. Saepe eveniet ipsa qui consequatur,error vero magni quae quidem.
                    span Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                a.boton Leer m치s
        main.contenido
            +caja1("imagen.png",titulos[1],"Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum facilis, quaerat obcaecati sapiente officiis itaque voluptas quia. Impedit quo animi numquam deserunt a debitis veritatis magnam assumenda excepturi dolore!")
            +caja1("imagen.png",titulos[2],"Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum facilis, quaerat obcaecati sapiente officiis itaque voluptas quia. Impedit quo animi numquam deserunt a debitis veritatis magnam assumenda excepturi dolore!")
            +caja1("imagen.png",titulos[3],"Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum facilis, quaerat obcaecati sapiente officiis itaque voluptas quia. Impedit quo animi numquam deserunt a debitis veritatis magnam assumenda excepturi dolore!")