extend componentes/plantilla.pug
block contenidos
    section.intro
        div.intro__imagen: img(src="./images/imagen.png" alt="Descripción de la imagen")
        div.intro__contenido
            h2 #{titulos[0]}
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis error, facilis id nesciunt aliquam aperiam corporis istede lectus voluptatem voluptates. Saepe eveniet ipsa qui consequatur,error vero magni quae quidem.
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            a.boton Leer más
    main.contenido
        +caja1("imagen.png",titulos[1],"Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum facilis, quaerat obcaecati sapiente officiis itaque voluptas quia. Impedit quo animi numquam deserunt a debitis veritatis magnam assumenda excepturi dolore!")
        +caja1("imagen.png",titulos[2],"Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum facilis, quaerat obcaecati sapiente officiis itaque voluptas quia. Impedit quo animi numquam deserunt a debitis veritatis magnam assumenda excepturi dolore!")
        +caja1("imagen.png",titulos[3],"Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia harum facilis, quaerat obcaecati sapiente officiis itaque voluptas quia. Impedit quo animi numquam deserunt a debitis veritatis magnam assumenda excepturi dolore!")