doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="./css/ejercicio-pug.css")
    body
        header
            h1 Platzi Games 
            a.boton Registro
        section.intro
            div.intro__imagen: img(src="./images/imagen.png" alt="Descripción de la imagen")
            div.intro__contenido
                h2 Titulo principal
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis error, facilis id nesciunt aliquam aperiam corporis istede lectus voluptatem voluptates. Saepe eveniet ipsa qui consequatur,error vero magni quae quidem.
                span Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                a.boton Leer más