$fuente1: 'lato', sans-serif;
$fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #FFFFFF;
$color-secundario: #8841DA;
$color-variacion: #3F579A;
*{
    margin: 0;
    padding: 0;
    font-family: $fuente1;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
}

.perfil{
    background-color: $color-secundario;
    width: 50%;
    padding-top: 50px;
    color: $color-claro;
    &__avatar{
        margin: 0 auto;
        display: block;
        border-radius: 50em;
    }
    &__nombre{
        font-family: $fuente2;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    &__titulo{
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &__boton{
        width: 100px;
        height: 40px;
        margin: 15px auto;
        padding-top: 15px;
        display: block;
        border-radius: 20px;
        color: $color-claro;
        font-family: $fuente2;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
}

.estadistica--perfil{
    background: $color-claro;
    width: 50%;
    height: 90px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    h3{
        font-family: $fuente2;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    span{
        font-family: $fuente2;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }
}