.contenedor--cajas{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.caja{
    max-width: 430px;
    .sombras-cajas;
    &__contenido{
        background: @color-claro;
        padding: 35px;
    }

    span{
        color: @color-secundario;
        .Oswald;
    }

    a{
        color: @color-variacion;
        text-decoration: none;
        .Oswald;
    }
}